chroma-hnswlib==0.7.6
chromadb==0.5.11
langchain==0.2.9
langchain-chroma==0.1.4
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai
langchain-text-splitters==0.2.2
langchainhub==0.1.20
langdetect==1.0.9
langsmith==0.1.93
openai
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
streamlit==1.37.0
